Package: omxplayer
Version: PKG_VERSION
Section: video
Priority: optional
Architecture: armhf
Essential: no
Depends: libpcre3, libfreetype6, fonts-freefont-ttf, dbus, libssl1.0.0, libsmbclient, libssh-4
Suggests: fbset, x11-xserver-utils
Installed-Size: TOTAL_SIZE
Maintainer: Unofficial Build <null@foo.bar>
Provides: omxplayer
Description: Command line media player for Raspberry Pi
 .
 It plays all media files supported by the Raspberry Pi
 hardware. Supports subtitles.
 .
 UNOFFICIAL BUILD
